<style>
    .data table {
        border: 2px solid black;
    }

    .data th, .data td {
        border-collapse: separate;
    }
</style>

<h1>Test Report</h1>
<table>
    <tr>
        <td>Name: {{ test-name }}</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>ID: {{ test-id }}</td>
    </tr>
    <tr>
        <td>Datum: {{ test-date }}</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>Version: {{ test-version }}</td>
    </tr>
</table>
<br>
<br>
<br>
<div class="data">
    <table>
        <!-- <tr>
            <th><h2>Testfall-/Testablaufbeschreibung</h2></th>
            <th><h2>OK</h2></th>
            <th><h2>nicht OK</h2></th>
            <th><h2>nicht OK</h2></th>
            <th><h2>nicht OK</h2></th>
            <th><h2>nicht OK</h2></th>
        </tr> -->
        <tr>
            <th><h3>Aktivität/Eingabe</h3></th>
            <th><h3>Erwartetes Ergebnis</h3></th>
            <th><h3>Tatsächliches Ergebnis</h3></th>
        </tr>
        <tr>
        </tr>
    </table>
</div>